<br>
<h1 style = "font-size:50px; font-family:Helvetica ; font-weight : normal; color : #fe346e; text-align: center;"> Exploratory Data Analysis</h1>
<h2 style = "font-size:40px; font-family:Helvetica ; font-weight : normal; text-align: center;"> Introduction to Pandas </h2>
<br><br>

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612126/EDA/dw1xwbh1g2c85izletjs.png' width="200"  style="float:center" align="center"/>

<br>

<div style='padding:15px'>
<a href="https://colab.research.google.com/github/rribeiro-sci/EDA_laboratory/blob/main/1-Introduction_to_Pandas.ipynb" target="_blank">
<img alt="Colab" src="https://res.cloudinary.com/djz27k5hg/image/upload/v1637335713/badges/colab-badge_hh0uyl.svg" height="25" style="margin:20px">
</a>

</div> 

### Why Pandas?

A lot of waht we'll do with pandas we can repreduce in Excel. But there are specific benefits to using pandas:

1. **Scalability**: suitable for handling large datasets. 
2. **Flexibility**: You can perform a wide range of operations, including data cleaning, filtering, grouping, merging, and statistical analysis.
3. **Automation**: easier automation of data manipulation tasks through scripting. Useful to perform repetitive tasks or complex data transformations.
4. **Reproducibility**: sharing your pandas code with others, ensuring that they can reproduce your analysis exactly.
5. **Integration with Python ecosystem**: seamlessly integration with other libraries such as NumPy, SciPy, Matplotlib, Seaborn, and Scikit-learn.

### Pandas Data Structure

The two primary data structures of pandas:

* Series (1-dimensional)
* DataFrame (2-dimensional)

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612125/EDA/vmsevwvkiabucivdxgzs.png' width="600"/>


### Pandas Dataframe

The Pandas DataFrame is a structure that contains two-dimensional data and its corresponding labels. DataFrames are widely used in data science, machine learning, scientific computing, and many other data-intensive fields.

It is similar to SQL tables or the spreadsheets that you work within Excel or Calc. In many cases, DataFrames are faster, easier to use, and more powerful than tables or spreadsheets because they’re an integral part of the Python and NumPy ecosystems.

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612125/EDA/mbenkhqrwyjhmngtravt.png' width="900" style="float:left"/>

    
<br><br>

## <font color=blue>Step-By-Step Guide To Data Analysis With Pandas In Python<font/>

In [ ]:
# Importing pandas library

⚠️ The common shortcut of Pandas is pd so instead of writing “pandas.” you can write “pd.”, but note that there is a dot after “pd” which is used to call a method from Pandas library.

### Loading the data into Pandas (CSVs, Excel, TXTs, etc.)

#### About the Data

For this tutorial we'll use the **Smoker's Health Data** filtered from a Hypertension Risk Dataset by Md Raihan Kahn and available at [kaggle.com](https://www.kaggle.com/datasets/jaceprater/smokers-health-data/data).

In [ ]:
# loading data into a dataframe

In [ ]:
# visualizing dataframe

## Reading Data (Getting Rows, Columns, Cells, Headers, etc.)

In [ ]:
# Reading Headers

In [ ]:
# Reading columns

In [ ]:
# Reading rows

In [ ]:
# Reading a specific location (row, column)

## Iterate through each Row

## Getting rows based on a specific condition

In [ ]:
# using loc

In [ ]:
# using query

In [ ]:
# applying multiple conditions

⚠️ The **&** symbol represent the boolean "and", wherear the **|** represents the boolean "or".

In [ ]:
# applying multiple conditions with the query method

## Handling Missing Values

Sometimes our data contain custumizing missing values. For example, maybe the people who we got the data from dind't know what to do with missing values so instead the passed in a string of missing or none. To solve this we can replace such strings by a nan value.

In [ ]:
# Replacig missing values

In [ ]:
# seeing missing values

## Casting datatypes

Casting datatypes in pandas is important for ensuring data consistency, accuracy, and enabling appropriate analysis and operations on the data.

We see that cigs_per_day is an object meaning that it can combines strings and numbers. We can't perform matematical operations with objects. We need to convert it first to number.

⚠️ The np.nan is a float number (decimal) which means that we must to convert the type of cigs_per_day to float.

## High Level description of your data (min, max, mean, std dev, etc.)

In [ ]:
# Generating descriptive statistics

**How to describe non-numerical values?**

In [ ]:
# count values

## Sorting Values (Alphabetically, Numerically)

In [ ]:
#  sorting by a column

## Making Changes to the DataFrame

In [ ]:
# Changing a specific value

In [ ]:
# adding columns

In [ ]:
# Deliting columns

⚠️ In Pandas to make changes permanently in a dataframe we need to create a copy of a dataframe or use the option **inplace=True**

In [ ]:
# rearanging columns

In [ ]:
# renaming columns

In [ ]:
# deliting entries with missing values

## Aggregate Statistics using Groupby (Sum, Mean, Counting)


Aggregation is the process of turning the values of a dataset (or a subset of it) into one single value.

Popular *aggregate* functions:
* mean()
* sum(()
* count()
* min()
* max()

**Groupby groups toghether the values in a column and display all in the same row. THis allows us to perform aggregate functions in those groupings.**

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612126/EDA/hkmne6hdtu1sagwsxd6a.png' width="500"/>

It’s just grouping similar values and calculating the given aggregate value (in the above example it was a mean value) for each group.

In [ ]:
# generating statistics

In [ ]:
# combining methods

The agg function in pandas applies one or more aggregation functions to grouped data, returning a DataFrame with the aggregated results.

## Saving our Data (CSV, Excel, TXT, etc.)

In [ ]:
# saving our data to csv

# Try yourself


1. How many people in our data has 50 or more? *1853*
2. How many cigarrets per day do the current smokers smoke? 
3. How many smokers don't know how many cigarrets per day they smoke?