<br>
<h1 style = "font-size:50px; font-family:Helvetica ; font-weight : normal; color : #fe346e; text-align: center;"> Exploratory Data Analysis</h1>
<h2 style = "font-size:40px; font-family:Helvetica ; font-weight : normal; text-align: center;"> Introduction to Pandas </h2>
<br><br>

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612126/EDA/dw1xwbh1g2c85izletjs.png' width="200"  style="float:center" align="center"/>

<br>

<div style='padding:15px'>
<a href="https://colab.research.google.com/github/rribeiro-sci/EDA_laboratory/blob/main/1-Introduction_to_Pandas.ipynb" target="_blank">
<img alt="Colab" src="https://res.cloudinary.com/djz27k5hg/image/upload/v1637335713/badges/colab-badge_hh0uyl.svg" height="25" style="margin:20px">
</a>

</div> 

### Why Pandas?

A lot of waht we'll do with pandas we can repreduce in Excel. But there are specific benefits to using pandas:

1. **Scalability**: suitable for handling large datasets. 
2. **Flexibility**: You can perform a wide range of operations, including data cleaning, filtering, grouping, merging, and statistical analysis.
3. **Automation**: easier automation of data manipulation tasks through scripting. Useful to perform repetitive tasks or complex data transformations.
4. **Reproducibility**: sharing your pandas code with others, ensuring that they can reproduce your analysis exactly.
5. **Integration with Python ecosystem**: seamlessly integration with other libraries such as NumPy, SciPy, Matplotlib, Seaborn, and Scikit-learn.

### Pandas Data Structure

The two primary data structures of pandas:

* Series (1-dimensional)
* DataFrame (2-dimensional)

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612125/EDA/vmsevwvkiabucivdxgzs.png' width="600"/>


### Pandas Dataframe

The Pandas DataFrame is a structure that contains two-dimensional data and its corresponding labels. DataFrames are widely used in data science, machine learning, scientific computing, and many other data-intensive fields.

It is similar to SQL tables or the spreadsheets that you work within Excel or Calc. In many cases, DataFrames are faster, easier to use, and more powerful than tables or spreadsheets because they’re an integral part of the Python and NumPy ecosystems.

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612125/EDA/mbenkhqrwyjhmngtravt.png' width="900" style="float:left"/>

    
<br><br>

## <font color=blue>Step-By-Step Guide To Data Analysis With Pandas In Python<font/>

In [2]:
import pandas as pd

⚠️ The common shortcut of Pandas is pd so instead of writing “pandas.” you can write “pd.”, but note that there is a dot after “pd” which is used to call a method from Pandas library.

### Loading the data into Pandas (CSVs, Excel, TXTs, etc.)

#### About the Data

For this tutorial we'll use the **Smoker's Health Data** filtered from a Hypertension Risk Dataset by Md Raihan Kahn and available at [kaggle.com](https://www.kaggle.com/datasets/jaceprater/smokers-health-data/data).

In [3]:
# loading data into a dataframe
df = pd.read_csv('smoking_health_data_final.csv')

## Show other ways
#pd.read_excel

In [4]:
# visualizing dataframe
df

## other ways
#df.head()
#df.tail()

      age   sex current_smoker  heart_rate blood_pressure cigs_per_day   chol
0      54  male            yes          95         110/72          NaN  219.0
1      45  male            yes          64         121/72          NaN  248.0
2      58  male            yes          81       127.5/76      Missing  235.0
3      42  male            yes          90       122.5/80          NaN  225.0
4      42  male            yes          62         119/80          NaN  226.0
...   ...   ...            ...         ...            ...          ...    ...
3895   37  male            yes          88     122.5/82.5           60  254.0
3896   49  male            yes          70         123/75           60  213.0
3897   56  male            yes          70         125/79           60  246.0
3898   50  male            yes          85         134/95           60  340.0
3899   40  male            yes          98         132/86           70  210.0

[3900 rows x 7 columns]

## Reading Data (Getting Rows, Columns, Cells, Headers, etc.)

In [ ]:
# Read Headers
df.columns

In [ ]:
# Read columns
df['age']

# Read multiple columns
#df[['age', 'chol']]

In [ ]:
# Read rows
df.iloc[1]

#df.iloc[0:5]

In [ ]:
# Read a specific location (row, column)
df.iloc[2,1]

## Iterate through each Row

In [ ]:
for index, row in df.iterrows():
    print(index, row['age'])

## Getting rows based on a specific condition

In [ ]:
# using loc
df[df.sex == 'female']

In [ ]:
# using query
df.query('sex == "female"')

In [ ]:
# applying multiple conditions
df[(df.sex=='male') & (df.age > 50)]

⚠️ The **&** symbol represent the boolean "and", wherear the **|** represents the boolean "or".

In [ ]:
# applying multiple conditions with the query method
df.query('sex == "female" and age > 50')

## Handling Missing Values

Sometimes our data contain custumizing missing values. For example, maybe the people who we got the data from dind't know what to do with missing values so instead the passed in a string of missing or none. To solve this we can replace such strings by a nan value.

In [3]:
import numpy as np

df.replace(['Missing', 'None'], np.nan, inplace=True)

In [ ]:
# seeing missing values
df.isna()

## Casting datatypes

Casting datatypes in pandas is important for ensuring data consistency, accuracy, and enabling appropriate analysis and operations on the data.

In [ ]:
df.dtypes

We see that cigs_per_day is an object meaning that it can combines strings and numbers. We can't perform matematical operations with objects. We need to convert it first to number.

⚠️ The np.nan is a float number (decimal) which means that we must to convert the type of cigs_per_day to float.

In [4]:
df['cigs_per_day'] = df['cigs_per_day'].astype(float)

In [ ]:
df.dtypes

In [ ]:
df.cigs_per_day.mean()

## High Level description of your data (min, max, mean, std dev, etc.)

In [ ]:
# Generating descriptive statistics
df.describe()

**How to describe non-numerical values?**

In [ ]:
# count values
df['sex'].value_counts()

In [ ]:
df['cigs_per_day'].value_counts()

In [ ]:
df.describe(exclude = ['float', 'int64'])

## Sorting Values (Alphabetically, Numerically)

In [ ]:
# ascending sorting by a column
df.sort_values(by='age')

In [ ]:
# descending sorting by column
df.sort_values(by='age', ascending=False)

In [ ]:
# sorting valus by multiple columns
df.sort_values(by=['age', 'cigs_per_day'], ascending=[False,True]) # the ascending option can take [1,0]

## Making Changes to the DataFrame

In [ ]:
# Changing a specific value
df.at[0,'cigs_per_day'] = 10

df.head()

In [ ]:
# adding columns
df['packs_of_cigs_per_day'] = df.cigs_per_day / 20 
df

In [ ]:
# Deliting columns
df.drop(columns=['packs_of_cigs_per_day'])

⚠️ In Pandas to make changes permanently in a dataframe we need to create a copy of a dataframe or use the option **inplace=True**

In [ ]:
# rearanging columns
df[['age', 'sex', 'current_smoker', 
    'cigs_per_day','packs_of_cigs_per_day','blood_pressure', 'heart_rate', 'chol']]

In [ ]:
# renaming columns
df.rename(columns={'chol':'cholesterol'})

In [ ]:
# deliting entries with missing values
df.dropna(axis=0, how='any', subset=['cigs_per_day'])

## Aggregate Statistics using Groupby (Sum, Mean, Counting)


Aggregation is the process of turning the values of a dataset (or a subset of it) into one single value.

Popular *aggregate* functions:
* mean()
* sum(()
* count()
* min()
* max()

In [ ]:
df.sort_values(by='blood_pressure')[['sex','age']].head(10).groupby('sex').mean()

In [ ]:
df[['sex','age']].head(10)

**Groupby groups toghether the values in a column and display all in the same row. THis allows us to perform aggregate functions in those groupings.**

<img src='https://res.cloudinary.com/djz27k5hg/image/upload/v1715612126/EDA/hkmne6hdtu1sagwsxd6a.png' width="500"/>

It’s just grouping similar values and calculating the given aggregate value (in the above example it was a mean value) for each group.

In [ ]:
df.groupby(by='sex').max() # in this case the min() and max() methods return non-numerical values

In [ ]:
# generating statistics 
df.groupby(by=['sex']).mean(numeric_only=True)

In [ ]:
# combining methods
df.groupby(by=['age']).mean(numeric_only=True).sort_values(by='cigs_per_day', ascending=False)

In [ ]:
df.groupby(['sex', 'current_smoker']).mean(numeric_only=True)

The agg function in pandas applies one or more aggregation functions to grouped data, returning a DataFrame with the aggregated results.

In [ ]:
df.groupby(by='sex').agg({'cigs_per_day':['mean','count','min', 'max']})

## Saving our Data (CSV, Excel, TXT, etc.)

In [5]:
# saving our data to csv
df.to_csv('mydata.csv', index=False)

In [ ]:
df.groupby(['current_smoker']).mean(numeric_only=True)

# Try yourself


1. How many people in our data has 50 or more? *1853*
2. How many cigarrets per day do the current smokers smoke? 
3. How many smokers don't know how many cigarrets per day they smoke?